<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app-7">
        <ol>
            <!-- <todo-item></todo-item> -->
            <supply-item></supply-item>
            <!-- <todo-item v-for="item in grocerylist" v-bind:todo="item" v-bind:key="item.id"></todo-item>
            <supply-item v-for="supply in supplylist" v-bind:supplyitem="supply" v-bind:key="supply.id"></supply-item> -->
        </ol>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./vue.js"></script>
</body>

</html>